In [21]:
import uproot

In [22]:
upFile = uproot.open('ECALntuple.root')

In [23]:
upFile.keys()

[b'ECAL;1']

In [24]:
tree = upFile['ECAL']

In [25]:
tree.pandas.df()

                  TotalEn  EnergyVector  Row  Column
entry subentry
0     0         68.162458      2.792536  0.0     0.0
      1         68.162458      1.057042  1.0     0.0
      2         68.162458      1.092556  2.0     0.0
      3         68.162458      0.790641  0.0     1.0
      4         68.162458     60.399074  1.0     1.0
      5         68.162458      1.681326  2.0     1.0
      6         68.162458      0.000000 -1.0    -1.0
      7         68.162458      0.000000 -1.0    -1.0
      8         68.162458      0.349283  2.0     2.0

In [21]:
import numpy as np